h1 {
    color: red; 
    font-size: 24px;
    background: red;
}

#para1 {
    background-color: yellow; 
    padding: 10px;
}

#sec1 {
    border: 1px solid black;
}

#sec2 {
    border: 1px solid black; 
    background: red;
}

.point1 {
    font-weight: bold;
}

.point2{
    font-weight: italic;
}

h2 {
    color: blue;
}

.para2 {
    text-align: center;
}