#main-sec {
    display: flex;
    width: 700px;
    height: 1000px;
    
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

#header {
    background-color: skyblue;
    width: 700px;
    height: 70px;

}

#sec1 {
    background-color: violet;
    width: 290px;
    height: 200px;
    margin-right: 10px;
}

#sec2 {
    background-color: darkgoldenrod;
    width: 400px;
    height: 560px;
    margin-left: 300px;
    margin-top: -220px;
}

#sec3 {
    background-color: darkgreen;
    width: 290px;
    height: 350px;
    margin-top: -350px;
}

#footer {
    background-color: orange;
    width: 700px;
    height: 70px;

}