
#header {
    background-color: skyblue;
    display: flex;
    color: white;
    padding-left: 50%;
    height: 100px;
}

#main {
    display: flex;
}


#footer {
    background-color: orange;
    display: flex;
    color: white;
    padding-left: 50%;
    height: 100px;
}