
#header {
    background-color: skyblue;
    display: flex;
    color: white;
    padding-left: 50%;
    height: 100px;
}

#footer {
    background-color: skyblue;
    display: flex;
    color: white;
    padding-left: 50%;
    height: 100px;
}